#ETL

## Objectives

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [66]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler.

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

## Extract

### JSON Extract Function

This function will extract JSON files.

In [84]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Stores the data in a `pandas` dataframe.

In [85]:
columns=['Name','Market Cap (US$ Billion)']

In [86]:
def extract():
    df = pd.DataFrame(columns=columns)
    df = df.append(extract_from_json("bank_market_cap_1.json"),ignore_index=True)
    return df

Here we are gonna load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>.

In [87]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

In [88]:
df_csv = extract_from_csv("exchange_rates.csv")
df_csv = df_csv.rename(columns={"Unnamed: 0":"Currencies"})
df_csv.head()

  Currencies     Rates
0        AUD  1.297088
1        BGN  1.608653
2        BRL  5.409196
3        CAD  1.271426
4        CHF  0.886083

In [89]:
df_csv.loc[df_csv['Currencies'] == 'GBP']

  Currencies     Rates
9        GBP  0.732398

In [90]:
exchange_rate = df_csv.iloc[9]['Rates']

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. We will write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [91]:
def transform(frame):
    frame['Market Cap (US$ Billion)'] *= exchange_rate
    frame['Market Cap (US$ Billion)'] = frame['Market Cap (US$ Billion)'].round(decimals = 3)
    frame.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'},inplace=True)
    return frame

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [92]:
def load(frame):
    frame.to_csv('bank_market_cap_gbp.csv')

## Logging Function

Write the logging function <code>log</code> to log your data:

In [93]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [94]:
log("ETL Job Started")
log("Extract phase Started")

### Extract

Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [95]:
extracted_data = extract()
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [96]:
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [97]:
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [98]:
transformed_data = transform(extracted_data)
transformed_data.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [99]:
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [100]:
log("Load phase Started")

Call the load function

In [101]:
load(transformed_data)

Log the following `"Load phase Ended"`.

In [102]:
log("Load phase Ended")

## Authors
Mohamed